<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Raphael Vieira
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
        <img src="assets/img/fotoavaliacao.jpg" style="height: 300px; width: 300px;"/>
     
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-text>Raphael Vieira</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Matrícula:</ion-label>
        <ion-text>22203595</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>


  
</ion-content>
